@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 798px) {
  .page-wrapper {
    max-width: 1400px;
    margin: auto;
  }
}

main {
  flex: 1;
}

/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-user-select: auto;
  user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
html {
  font-size: 16px;
  font-family: roboto, sans-serif;
}

@keyframes heart {
  0% {
    transform: translatey(0) rotate(0deg) scale(2);
  }
  100% {
    transform: translatey(-120%) rotate(360deg) scale(2);
  }
}
@keyframes scale {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header {
  width: max(375px, 100%);
  text-align: center;
}
.header__back {
  position: absolute;
  left: 20px;
}
.header__logo {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header__logo--no-bs {
  box-shadow: none;
}
.header__location {
  padding: 0.9375em 0;
  font-weight: 500;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__location i {
  margin-right: 1.25em;
}
.header__top {
  position: relative;
}
.header__top--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 798px) {
  .header__top {
    padding: 0 0.9375em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__top--row {
    justify-content: center;
  }
  .header__logo {
    box-shadow: none;
  }
  .header__location {
    background-color: white;
  }
}

.hero {
  padding: 3.125em 0;
  background-color: #f2f2f2;
}
.hero__title {
  width: max(375px, 75%);
  margin: auto;
}
.hero__description {
  width: max(375px, 90%);
  margin: auto;
  opacity: 0.75;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 0.9375em;
  margin-bottom: 1.875em;
}
.hero__image {
  object-fit: cover;
  width: 100%;
  max-height: 25em;
}
.hero--no-bg {
  background-color: transparent;
}
.hero--no-padding {
  padding: 0;
}
@media (min-width: 798px) {
  .hero {
    border-radius: 15px;
  }
}

.functionning {
  width: min(1400px, 90%);
  margin: auto;
  padding: 3.125em 0;
}
.functionning__grid-wrapper {
  display: grid;
  margin-top: 1.5625em;
  grid-template: repeat(3, 75px)/minmax(300px, 1fr);
  gap: 25px;
}
@media (min-width: 798px) {
  .functionning__grid-wrapper {
    grid-template: 75px/repeat(3, minmax(200px, 1fr));
  }
}
.functionning__card {
  position: relative;
  background-color: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  border-radius: 20px;
  font-weight: 500;
  margin-left: 12.5px;
  padding-left: 32.5px;
}
.functionning__card i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25em;
}
.functionning__card--number {
  position: absolute;
  left: -12px;
  height: 25px;
  width: 25px;
  padding-top: 0.1875em;
  background-color: #9356dc;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
}
.functionning__card--pink {
  background-color: rgba(147, 86, 220, 0.1);
}
.functionning__card--pink i {
  color: #9356dc;
}

.restaurant {
  background-color: #f2f2f2;
  padding: 3.125em 0;
}
.restaurant .title {
  width: min(1400px, 90%);
  margin: auto;
}
.restaurant__grid-wrapper {
  width: min(1400px, 90%);
  margin: 1.5625em auto;
  display: grid;
  grid-template: 250px/repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 25px;
}
@media (min-width: 798px) {
  .restaurant__grid-wrapper {
    grid-template: 250px/repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (min-width: 798px) {
  .restaurant {
    margin-bottom: 3.125em;
    border-radius: 15px;
  }
}

.presentation {
  background-color: #f2f2f2;
  padding: 1.875em 0;
  margin-top: -2.5em;
  border-radius: 25px 25px 0 0;
  min-width: 375px;
  height: 100%;
}
.presentation__top {
  width: max(350px, 90%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  margin: auto;
}
.presentation .btn {
  display: block;
  margin: 2.5em auto;
}
.presentation .heart__mask {
  fill: #f2f2f2;
}

.menu {
  width: 90%;
  margin: 1.875em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875em;
}
@media (min-width: 798px) {
  .menu {
    justify-content: space-around;
    align-items: flex-start;
    min-height: 400px;
    margin: 3.125em auto;
  }
}
.menu__dishes {
  width: 100%;
}
@media (min-width: 798px) {
  .menu__dishes {
    width: 350px;
  }
}
.menu__title {
  text-transform: uppercase;
  font-weight: 300;
}
.menu__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 0.3125em;
}
.menu__grid {
  margin-top: 0.9375em;
  display: grid;
  grid-template: 70px/1fr;
  grid-auto-rows: 70px;
  gap: 20px;
}

.footer {
  padding: 1.5625em;
  background-color: #353535;
  color: white;
}
.footer__logo {
  filter: invert(100%);
  height: 20px;
  margin-bottom: 0.9375em;
}
.footer__item {
  font-size: 0.8125rem;
  font-weight: 500;
  margin-bottom: 0.625em;
}
.footer__item i {
  width: 12px;
  font-size: 0.75rem;
  margin-right: 0.625em;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: hidden 2s 2000ms both ease-in;
  z-index: 1000;
}
.loader__circle {
  width: 100px;
  height: 100px;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader__circle::after, .loader__circle::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  background-color: #9356dc;
  border-radius: 50%;
  animation: scale 1s infinite ease-in-out;
}
.loader__circle::before {
  top: auto;
  bottom: 0;
  background-color: #ff79da;
  animation-delay: 0.5s;
}

.btn {
  background: linear-gradient(#ff79da, 25%, #9356dc);
  color: white;
  font-weight: 500;
  padding: 0.9375em 1.25em;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#fface8, 25%, #ae80e5);
}

.logo {
  box-sizing: content-box;
  height: 30px;
  padding: 0.9375em 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.presentation__title {
  font-family: shrikhand, sans-serif;
  font-size: 1.75rem;
}
@media (min-width: 798px) {
  .presentation__title {
    font-size: 2rem;
  }
}

.restaurant .card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.restaurant .card a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.restaurant .card__image {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant .card__description {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant .card__title {
  font-weight: 700;
  margin-bottom: 0.3125em;
}
.restaurant .card__location {
  font-size: 0.875rem;
  font-weight: 300;
}
.restaurant .card--new::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #217460;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.3125em 0.9375em;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;
}

.menu .card {
  background-color: white;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.menu .card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  overflow: hidden;
  gap: 10px;
}
.menu .card__price {
  display: flex;
  align-items: end;
  font-weight: 500;
}
.menu .card__text {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .card__title {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu .card__description {
  font-size: 0.9375rem;
  font-weight: 300;
}
.menu .card__title, .menu .card__description {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .card__check {
  width: 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #99E2D0;
  opacity: 0;
  transition: all 800ms ease-in;
}
.menu .card__icon {
  color: white;
  transform: rotate(0);
  transition: transform 800ms ease-out;
}
.menu .card:hover .card__check {
  width: 30%;
  opacity: 1;
}
.menu .card:hover .card__icon {
  transform: rotate(360deg);
}
.menu .card:nth-child(1) {
  animation: 1s ease-out 200ms backwards appear;
}
.menu .card:nth-child(2) {
  animation: 1s ease-out 400ms backwards appear;
}
.menu .card:nth-child(3) {
  animation: 1s ease-out 600ms backwards appear;
}
.menu .card:nth-child(4) {
  animation: 1s ease-out 800ms backwards appear;
}

.heart {
  width: 25px;
}
.heart__fill {
  fill: url(#gradient-fill);
}
.heart__mask {
  fill: white;
  transform: scale(2);
  transform-origin: center;
}
.heart__stroke {
  transition: opacity 1s;
}
.heart:hover .heart__mask {
  animation: heart 1500ms both;
}
.heart:hover .heart__stroke {
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
