// font settings
$base-font-size: 16px;
$base-font-family: roboto, sans-serif;

// color settings
$primary-color: #9356dc;
$secondary-color: #ff79da;
$new-color: #99E2D0;
$btn-color: linear-gradient($secondary-color, 25%, $primary-color);
$btn-color-hover: linear-gradient(lighten($secondary-color, 10%), 25%, lighten($primary-color, 10%));
$grey-background: #f2f2f2;

// size
$size-icon-number: 25px;

// breakpoint
$breakpoint: (
    desktop: 798px
)