.restaurant {
  background-color: $grey-background;
  padding: em(50) 0;

  .title {
    width: min(1400px, 90%);
    margin: auto;
  }

  @include desktop {
    margin-bottom: em(50);
    border-radius: 15px;
  }
}
