.restaurant {
    
    .card {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        position: relative;

        a {
            height: 100%;
            @include flexbox(column, center);
        }

        &__image {
            height: 175px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__description {
            width: 90%;
            margin: auto;
            @include flexbox(row, space-between, center);
        }

        &__title {
            font-weight: 700;
            margin-bottom: em(5);
        }

        &__location {
            font-size: rem(14);
            font-weight: 300;
        }

        // permet d'ajouter l'encart 'nouveau' sur les cards
        &--new::after {
            content: 'Nouveau';
            background-color: $new-color;
            color: darken($color: $new-color, $amount: 45%);
            font-size: rem(14);
            font-weight: 700;
            padding: em(5) em(15);
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 10;
        }

    }
}

.menu {
    .card {
        background-color: white;
        display: flex;
        // position: relative;
        border-radius: 15px;
        overflow: hidden;

        &__info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            overflow: hidden;
            gap: 10px;
        }

        &__price {
            display: flex;
            align-items: end;
            font-weight: 500;
        }
        
        &__text {
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }

        &__title {
            font-size: rem(18);
            font-weight: 500;
        }

        &__description {
            font-size: rem(15);
            font-weight: 300;
        }
        
        &__title, &__description {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
          
        &__check {
            width: 0;
            overflow: hidden;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: #99E2D0;
            opacity: 0;
            transition: all 800ms ease-in;
        }
        
        &__icon {
            color: white;
            transform: rotate(0);
            transition: transform 800ms ease-out;
        }
        
        &:hover .card__check {
            width: 30%;
            opacity: 1;
        }
        
        &:hover .card__icon {
            transform: rotate(360deg);
        }
    }
}