.restaurant {
    
    .card {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);

        a {
            height: 100%;
            @include flexbox(column, center);
        }

        &__image {
            height: 175px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__description {
            width: 90%;
            margin: auto;
            @include flexbox(row, space-between, center);
        }

        &__title {
            font-weight: 700;
            margin-bottom: em(5);
        }

        &__location {
            font-size: rem(14);
            font-weight: 300;
        }

    }
}