.heart {
  width: 25px;

  &__fill {
    fill: url(#gradient-fill);
  }

  &__mask {
    fill: white;
    transform: scale(2);
    transform-origin: center;
  }

  &__stroke {
    transition: opacity 1s;
  }

  &:hover &__mask {
    animation: heart 1500ms both;
  }

  &:hover &__stroke {
    opacity: 0;
  }
}
