.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include desktop {
        max-width: 1400px;
        margin: auto;
    }
}

// cela permet dans la version desktop de coller le footer en bas de page
main {
    flex: 1;
}