.presentation {
  background-color: $grey-background;
  padding: em(30) 0;
  margin-top: em(-40);
  border-radius: 25px 25px 0 0;
  min-width: 375px;
  height: 100%;

  &__top {
    width: max(350px, 90%);
    @include flexbox(row, center, center);
    gap: em(40);
    margin: auto;
  }

  .btn {
    display: block;
    margin: em(40) auto;
  }

  .heart__mask {
    fill: $grey-background;
  }
}
